<header class="masthead" style="background-image: url('/assets/images/about.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <!-- <h1>FactDiscover</h1> -->
          <span class="subheading">Glad you're here at FactDiscover.com.</span>
          <span class="subheading">If you look around you'll find articles that are chock full of fun shareable
            facts.</span>
          <span class="subheading">Let us know what you think! And enjoy!</span>
        </div>
      </div>
    </div>
  </div>
</header>