<app-page-header *ngIf="subject" [header]="subject.header" [subHeader]="subject.subHeader" [image]="changedHeaderImage">

</app-page-header>

<div class="container">
  <div class="searchHolder">
    <i class="fa fa-search"></i><input class="searchString" [formControl]="wordTyping">
  </div>
  <div class="sectionHolder">
    <div *ngFor='let section of sections; let i = index'
      [ngClass]="{'selected': selectedSections.includes(section.sectionId)}" (click)="ToggleActive(section.sectionId)">
      {{section.sectionName}}</div>
  </div>

  <div class="factImageHolder">
    <div *ngFor='let img of factImages' class="factImg">
      <img src='{{GetImagePath(img.imageUrl)}}' (click)="ShowShareBox(img.factImageId)">
      <noscript>{{img.factText}}</noscript>
      <div *ngIf="img.factImageId === selectedBox" class="shareBar"
        [ngClass]="{'longBox': img.factImageId === selectedSource}">
        <div class="shareBox">
          <a class="share-btn"
          href="{{tweetUrl}}"
          title="Share on Twitter"><i class="fa fa-twitter"></i></a>
          <a class="share-btn"
          href="{{fbUrl}}"
          title="Share on Facebook"><i class="fa fa-facebook"></i></a>
          <i class="fa fa-pinterest share-btn"></i>
          <div *ngIf='img.source' class="source" (click)="ShowSourceBox(img.factImageId)">Source</div>
        </div>
        <div class="sourceHolder">
          <a class="sourceString" href='{{img.source}}' *ngIf="img.factImageId === selectedSource">{{img.source.substring(0, 30)}}</a>
        </div>
      </div>
    </div>
  </div>
</div>