@import "../scss/_variables.scss";
@import "../scss/_mixins.scss";
@import "../scss/_global.scss";
@import "../scss/_navbar.scss";
@import "../scss/_masthead.scss";
@import "../scss/_post.scss";
@import "../scss/_contact.scss";
@import "../scss/_footer.scss";
@import "../scss/_bootstrap-overrides.scss";
@import "../scss/bootstrap.scss";
@import "../scss/_clean.scss";

.factImageHolder {
  display: flex;
  flex-wrap: wrap;
}

.searchHolder {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  .searchString{

  }
}

.sectionHolder {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  div{
    
    border: 1px solid gainsboro;
    border-radius: 15px;
    // margin:5px;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: grey;
    cursor: pointer;
  }
}

.factImg {
  margin-left: auto;
  margin-right: auto;
  img {
    border-radius: 15px;
    margin: 15px;
    height: 300px;
    width: 500px;
  }
}

.selected {
  background-color: paleturquoise;
}

.searchString {
  border-radius: 15px;
}
