
.factImageHolder {
  display: flex;
  flex-wrap: wrap;
}

.searchHolder {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  color: gainsboro;
  i {
    margin-right: 10px;
  }
}

.sectionHolder {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  div{
    margin:5px;
    border: 1px solid gainsboro;
    border-radius: 15px;
    // margin:5px;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: grey;
    cursor: pointer;
  }
}

.factImg {
  margin-left: auto;
  margin-right: auto;
  img {
    border-radius: 15px;
    margin: 15px;
    height: 300px;
    width: 500px;
  }
}

.selected {
  color: white !important;
  background-color: #779ecb;
}

.searchString {
  border-radius: 15px;
}
