
  <!-- Page Header -->
  <header class="masthead"
    style="background-image: url('/assets/images/home.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>FactDiscover</h1>
            <span class="subheading">Facinating Factoids</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a [routerLink]='["/cat-facts"]'>
            <h2 class="post-title">
              Facinating Facts On Cats
            </h2>
            <h3 class="post-subtitle">
              It's going to be pawesome
            </h3>
          </a>
          <p class="post-meta">Posted 
   
            on June 4, 2019</p>
        </div>
        <hr>
        <hr>
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->


