@import "../../scss/variables";
@import "../../scss/mixins.scss";
@import "../../scss/global.scss";
@import "../../scss/navbar.scss";
@import "../../scss/masthead.scss";
@import "../../scss/post.scss";
@import "../../scss/contact.scss";
@import "../../scss/footer.scss";
@import "../../scss/bootstrap-overrides.scss";
@import "../../scss/bootstrap.scss";

.fa-stack{
    color: #212529;
}

.fa-stack:hover {
    color: #0085a1;
}
